:root {
  --primary: #cab32f;
  --secondary: #c19973b4; /* header footer color and submit button*/
  --tertiary: #281b06;
  --quatrinary: #de872a;
  --light: #e1f5f4;
  --dark: #78553b;
  --error: rgb(228, 46, 1);
  --border-radius: 0.3rem;
  --spacing-three: 1rem; /*spacing in between thoughts*/
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 400;
  line-height: 1.5;
  font-size: 20px;
  color: var(--dark);
  background-image: url('../public/assets/images/White\ and\ Black\ Photographic\ Food\ &\ Restaurant\ Service\ Website-2.png');
  background-size: 1300px;
  background-repeat: no-repeat;
}

/*headings font and styling*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'DM Serif Display', Arial,;
  font-weight: 700;
  margin: 5px 0;
  line-height: 1.25;
}

/*heading font size for title and reviews/comments*/
h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem; 
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 3rem;
}

h5 {
  font-size: 6rem;
}

h6 {
  font-size: 1rem;
}