.index-row {
  height: 100vh;
}

.index-bg-col {
  background-image: url(../../images/Cream\ Black\ Health\ and\ Wellness\ Sleek\ Corporate\ Health\ &\ Wellness\ Website-5.png);
  background-size: cover;
}

.btn-index-div {
  display: flex;
  gap: 2em;
  margin-top: 10%;
}

.index-col2-sub-div {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30%;
}

.index-btn,
.index-btn:hover {
  border: 1px solid black;
  padding: 2.5%;
  width: 30%;
  text-align: center;
}
